ha_role=standby
init_role=standby
ha_mode={{ha_deploy_mode}}
net_mode={{net_mode}}
service_float_ip={{service_float_ip}}
service_gateway={{service_gateway}}
service_mask={{service_mask}}
service_local_ip={{service_local_ip}}
service_local_port={{service_local_port}}
service_remote_ip={{service_remote_ip}}
service_remote_port={{service_remote_port}}
manager_float_ip={{manager_float_ip}}
float_ip_for_ha={{float_ip_for_ha}}
manager_gateway={{manager_gateway}}
manager_mask={{manager_mask}}
manager_local_ip={{manager_local_ip}}
manager_local_port={{manager_local_port}}
manager_remote_ip={{manager_remote_ip}}
manager_remote_port={{manager_remote_port}}
local_host_name={{local_host_name}}
remote_host_name={{remote_host_name}}

